@import url(Fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
  font-family: IRANSans !important;
  font-weight: 300;
  direction: rtl;
  /* background-color: #E2E2E2; */
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
option,
select {
  font-family: IRANSans !important;
}
h1 {
  font-weight: bold;
}

.Mui-selected {
  color: #fff !important;
  border: 1px solid rgb(33, 158, 188, 0.5) !important;
  background-color: rgb(33, 158, 188) !important;
}
